<div class="navbar-fixed">
    <nav class="transparent z-depth-0"  id="bar">
        <div class="container">
            <a href="#" data-activates="nav-mobile" id="button-collapse">
                <i class="material-icons black-text">menu black</i>
            </a>
        </div>
    </nav>
</div>

<div class="nav-wrapper">
    <ul id="nav-mobile" class="side-nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>

</div>