{{>nav}}
<div class="container">
    <div class="col s12">
        <div class="card grey-lighten-4 center">

            <div class="container">
                <i class="mdi mdi-checkbox-marked-circle center-align" id="confirm"></i>
                <h1>Confirmed</h1>

            </div>

        </div>
    </div>
</div>