{{>nav}}

<div class="col s12 centered text-white" id="morning">
    <a href="/available/morning">
        <img src="/assets/img/morning.jpg" alt="barbershop" class="responsive-img">
        <h4 class="white-text align-left" id="morning_heading">THIS MORNING</h4>
    </a>
</div>

<br><br>

<div class="col s12 centered text-white" id="afternoon">
    <a href="/available/afternoon">
        <img src="/assets/img/afternoon.jpg" alt="barber chair" class="responsive-img">
        <h4 class="white-text align-left" id="afternoon_heading">THIS AFTERNOON</h4>
    </a>
</div>