<div class="container" id="login-form">
    <form action="/login" method="POST">
        <div class="input-field col s12">

            <input name="email" id="email" type="email" class="validate">
            <label for="email">Email</label>
        </div>
        <div class="input-field col s12">

            <input name="password" id="password" type="password" class="validate">
            <label for="password">Password</label>

        </div>
        <div class="col s12 center">
            <button class="btn-large waves-effect waves-light" type="submit">LOG IN</button>
        </div>
    </form>
    <br/>

    <div class="container center">
        <p>Don't have an account?<br/>That's okay you can <a href="/register">Register Here</a></p>
    </div>
</div>