<div class="container" id="prelogin-buttons">
    <div class="col s12 center">
        <a class="btn-large blue darken-3" href="/auth/facebook"><i class="mdi mdi-facebook-box"></i> Login with Facebook</a>
    </div>

    <br/>

    <div class="col s12 center">
        <a class="btn-large red lighten-1" href="/login"><i class="mdi mdi-account"></i> Login</a>
    </div>
</div>