#morning, #afternoon {
    position: relative;
    width: 100%; /* for IE 6 */
}

#morning_heading, #afternoon_heading {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

/* Presets for */
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#confirm{
    font-size: 10em;
    color: #00e676;
}